# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
sysinfo.txt

# Visual Studio / Rider
.vs/
.idea/
*.sln.iml
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.userprefs
*.db
*.opendb

# OS-specific
.DS_Store
Thumbs.db
